<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>language_page</title>
</head>
<body>
<center>
<form action="">
    <br/><br/><br/><br/><br/><br/><br/>

    <input style="border:2px solid fuchsia;width:200px;height:25px;color: #ff6e0f" type="text" name="cx" placeholder="输入想搜索的编程语言关键字">&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" value="搜索" style="width: 50px;height: 27px;color: blueviolet">

    <br/><br/>
    <hr style="height:10px;border:none;border-top:10px groove skyblue;" />
    <table style="border-color: blue" border="1" cellspacing="0" cellpadding="5" width="300px">
        <tr>
            <th style="color: darkturquoise">编程语言</th>
        </tr>
        {% for foo in datas %}
        <tr>
        <td align="center" style="color: #ff6e0f">{{ foo.name }}</td>
        </tr>
        {% endfor %}

    </table>
</form>
</center>
</body>
</html>